<script id="adult" type="text/template">


        <div id="header">
            <div class="labelLogo">RM Logo Label</div>
            <div class="menu">
                <!-- id: <varNameOfSheetViewConstructor>Sticker-->
                <div class="likeA" id="TestPrepReportSheetMenuItem">STAAR report</div>
                <div class="likeA" id="TestSheetMenuItem">test</div>
            </div>
            <div id="sheetStickers"></div>
        </div>

        <div id="error"></div>

        <div style="width:100%; height: 30px; background-color: bisque;">Adult page</div>

        <div id="sheets"></div>

</script>

<!--script id="sheetStickerItem" type="text/template">
    <div>

    </div>
</script-->

<!--script id="sheetItem" type="text/template">
    <div>

    </div>
</script-->



